In [12]:
#importing pandas
import pandas as pd
data={
    "names":["john","mark","leonard"],
    "gpa_scores":[3.84,3.12,3.99],
    "rank":[1,3,2]
}
data
data_series=pd.Series(data)
data_dataFrame=pd.DataFrame(data)
data_dataFrame

     names  gpa_scores  rank
0     john        3.84     1
1     mark        3.12     3
2  leonard        3.99     2

In [13]:
import pandas as pd
df_multi = pd.DataFrame({
    'Department': ['HR', 'IT', 'IT', 'Finance'],
    'EmployeeID': [101, 102, 103, 104],
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana'],
    'Salary': [50000, 60000, 70000, 55000]
})

# Set multiple columns as index
df_multi_index = df_multi.set_index(['Department', 'EmployeeID'])
print("Multi-index DataFrame:")
print(df_multi_index)

Multi-index DataFrame:
                          Name  Salary
Department EmployeeID
HR         101           Alice   50000
IT         102             Bob   60000
           103         Charlie   70000
Finance    104           Diana   55000