In [12]:
#importing pandas
import pandas as pd
data={
    "names":["john","mark","leonard"],
    "gpa_scores":[3.84,3.12,3.99],
    "rank":[1,3,2]
}
data
data_series=pd.Series(data)
data_dataFrame=pd.DataFrame(data)
data_dataFrame

     names  gpa_scores  rank
0     john        3.84     1
1     mark        3.12     3
2  leonard        3.99     2